* {
  margin: 0;
  padding: 0;
}

#body {
  width: 1440px;
  margin: 0 auto;
}

#header {
  height: 60px;
  display: flex;
  justify-content: space-between;
  align-content: center;
  box-sizing: border-box;
  border-bottom: 1px solid #efefef;
}

#header .header_left {
  width: 40%;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.header_left .logo {
  margin-right: 25px;
}

#header .header_right {
  display: flex;
  justify-content: space-around;
  width: 33%;
  align-items: center;
  margin-right: 30px;
}

#header .search_font {
  width: 250pxpx;
  border: 1px solid #efefef;
  background-color: #efefef;
  margin-left: 7px;
  opacity: 0.5;
}

#header .search {
  width: 333px;
  height: 35px;
  background-color: #efefef;
  display: flex;
  align-items: center;
  border-radius: 5px;
}

#content {
  margin: 40px 100px 0 110px;
}

.title .luachon {
  display: flex;
  justify-content: start;
}

.title .luachon_con:hover,
.luachon_cona,
.starts {
  cursor: pointer;
}

.title .luachon_con,
.starts {
  opacity: 0.7;
}

.ratting {
  margin-top: 20px;
  display: flex;
  align-items: center;
  width: 300px;
  height: 20px;
}
html {
  scroll-behavior: smooth;
  font-family: Arial, Helvetica, sans-serif;
}
.img_illustration {
  display: flex;
  justify-content: space-between;
  margin-top: 20px;
}
.img_quangcao {
  display: flex;
}
.img_left {
  margin-right: 20px;
}
.img_con {
  margin: 10px 20px;
}
.img_con3 {
  margin: 10px 0 10px 0;
}
.img_con1 {
  margin-right: 20px;
}
.fa-share-nodes {
  font-size: 20px;
  margin-right: 10px;
}
.share {
  position: absolute;
  top: 200px;
  right: 280px;
  display: flex;
  justify-content: center;
  line-height: 50px;
  font-size: 18px;
}
.share1 {
  margin-right: 20px;
}
.share2 {
  position: absolute;
  top: 15px;
  left: 100px;
  display: flex;
  line-height: 20px;
}
.save {
  font-size: 20px;
  margin-left: 10px;
}
.content_word {
  display: flex;
  justify-content: space-between;
  margin-top: 30px;
  height: 470px;
  border-bottom: 1px solid #efefef;
  margin-bottom: 30px;
}
.content_word_left {
  width: 65%;
  margin-right: auto;
}
.conten_icon {
  margin-top: 30px;
  display: flex;
  width: 60%;
  justify-content: space-evenly;
}
.icon22 {
  display: flex;
  height: 30px;
  align-items: center;
  margin-bottom: 20px;
  float: left;
  margin-right: 50px;
}
.chu {
  margin-left: 10px;
}

.chu2 {
  width: 200px;
  margin-left: 10px;
}
.form {
  float: left;
  width: 340px;
  height: 420px;
  border: 1px solid whitesmoke;
  margin-right: 40px;
}
.money {
  display: flex;
  justify-content: end;
  font-size: 25px;
  line-height: 50px;
  color: #2fb2bc;
  margin-top: 10px;
  margin-bottom: 15px;
}
.money > h2 {
  margin-right: 18px;
}
.colorr {
  width: 300px;
  height: 35px;
  margin: 0px 19px 15px 19px;
  border: 1px solid white;
  background-color: whitesmoke;
  display: flex;
  justify-content: center;
  align-items: center;
}
.color {
  width: 290px;
  height: 30px;
  border: 1px solid whitesmoke;
  font-size: 16px;
  background-color: whitesmoke;
}
.total {
  display: flex;
  justify-content: space-between;
  margin: 28px 19px 20px 19px;
}
.buy {
  width: 300px;
  height: 50px;
  margin: 0px 19px 15px 19px;
  border: 1px solid white;
  border-radius: 5px;
  background-color: #2fb2bc;
  color: white;
  font-size: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.review {
  height: 350px;
  border-bottom: 1px solid whitesmoke;
}

.review_a {
  display: flex;
  justify-content: space-between;
  margin-right: 40px;
}
.review_b {
  margin-top: 20px;
  display: flex;
  justify-content: space-between;
  margin-right: 35px;
}
.acto {
  display: flex;
}
.can {
  margin: 0 10px;
}
.left_boss {
  display: flex;
  margin-right: 20px;
}
.left {
  margin: 20px 20px 20px 0;
}
.mess {
  margin-top: 10px;
}
.review2 {
  height: 500px;
  border-bottom: 1px solid whitesmoke;
}
.canaa {
  display: flex;
  justify-content: space-between;
}
.anhcon {
  height: 350px;
  border: 1px solid whitesmoke;
}
.tong {
  margin: 15px;
}
.chuu {
  display: block;
  font-size: 19px;
  color: #2fb2bc;
  margin: 8px 0px;
}
.item {
  font-size: 12px;
  opacity: 0.5;
}
#footer {
  margin: 50px 100px 20px 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.the {
  display: flex;
  justify-content: center;
  line-height: 40px;
  width: 450px;
  background-color: whitesmoke;
 
}
.cha li{
  list-style: none;
  margin-top: 15px;
  opacity: 0.7;
}
.cha{
  margin-top: 70px;
  display: flex;
  width: 50%;
  justify-content: space-between;
  
}
.right_right{
  display: flex;
  width: 100%;
  justify-content: space-between;
  margin-top: 70px;
}